name: Generate Snake Animation

on:
  schedule:
    - cron: "0 */6 * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    name: Update Snake Data
    runs-on: ubuntu-latest
    steps:
      - name: Generate Snake Images
        uses: Platane/snk@v3
        with:
          github_user_name: igoraraujocunha
          outputs: |
            dist/github-contribution-grid-snake.svg
            dist/github-contribution-grid-snake-dark.svg?palette=github-dark
            dist/github-contribution-grid-snake-custom.svg?color_snake=#ecba08&color_dots=#08162c,#172434,#1f2b3c,#8a6d05,#ecba08
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Push to Output Branch
        uses: crazy-max/ghaction-github-pages@v3.1.0
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
